@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<AplicacionWebTiendaEnLinea.Models.Producto>
<div class="text-center">
    <h1>Productos a la venta</h1>
    <br />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IdProducto</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdProducto</td>
                <td>@item.Nombre</td>
                <th>@item.Descripcion</th>
                <th>@item.Precio</th>
                <th>@item.Stock</th>
            </tr>
        }
    </tbody>
</table>
